In [8]:
import pandas as pd
import numpy as np
import glob
import re

In [2]:
path = "lstm_data/video*.parquet"

file_list = glob.glob(path)

In [3]:
file_list

['lstm_data/video_4_team_0.parquet',
 'lstm_data/video_4_team_1.parquet',
 'lstm_data/video_0_team_0.parquet',
 'lstm_data/video_0_team_1.parquet',
 'lstm_data/video_1_team_0.parquet',
 'lstm_data/video_1_team_1.parquet',
 'lstm_data/video_2_team_0.parquet',
 'lstm_data/video_2_team_1.parquet',
 'lstm_data/video_3_team_0.parquet',
 'lstm_data/video_3_team_1.parquet']

In [19]:
data_frames = {}
for file in file_list:
    # Extract the key from the filename
    key1 = re.split(r'[_ .]',file)[2]
    key2 = re.split(r'[_ .]',file)[4]
    data = pd.read_parquet(file)
    data_frames[f"{key1}_{key2}"] = data

In [20]:
data_frames.keys()

dict_keys(['4_0', '4_1', '0_0', '0_1', '1_0', '1_1', '2_0', '2_1', '3_0', '3_1'])

In [23]:
s = 0
for key in data_frames.keys():
    le = len(data_frames[key])
    s = s+le

In [25]:

# Concatenate all DataFrames
df = pd.concat(data_frames.values(), ignore_index=True)

In [26]:
df

       player_id    t            x            y  team_id  video_id
0              1    0  6909.913574  3487.211914        0         4
1              1    1  6910.418945  3486.980713        0         4
2              1    2  6911.520996  3489.236328        0         4
3              1    3  6918.666992  3495.847412        0         4
4              1    4  6924.256348  3485.712402        0         4
...          ...  ...          ...          ...      ...       ...
78745         11  745          NaN          NaN        1         3
78746         11  746          NaN          NaN        1         3
78747         11  747          NaN          NaN        1         3
78748         11  748          NaN          NaN        1         3
78749         11  749          NaN          NaN        1         3

[78750 rows x 6 columns]

In [27]:
# Find the number of rows without any NaN values 
rows_without_nan = df.dropna().shape[0] 
print(f"Number of rows without any NaN values: {rows_without_nan}")

Number of rows without any NaN values: 59175

In [33]:
new_df = df.dropna()

In [34]:
new_df.to_parquet("lstm_data/lstm_data.parquet")